@import url('https://fonts.googleapis.com/css2?family=Oswald');

:root {
  --title-color: #555555;
  --header-color: #bc7777;
  --body-color: rgba(0, 0, 0, 0.8);
  --aside-color: rgba(255, 255, 255, 0.8);
  --fig-cap-color: rgba(0, 0, 0, 0.6);

  /* Fonts */
  --heading-font: "Oswald", monospace;
  --mono-font: "Oswald", monospace;
  --body-font: "Oswald", monospace;
  --navbar-font: "Oswald", monospace;
}

body {
  font-family: var(--body-font);
  color: var(--body-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--header-color);
}

.title {
  color: var(--title-color);
}

aside {
  background-color: var(--aside-color);
}

figcaption {
  color: var(--fig-cap-color);
}

code, pre {
  font-family: var(--mono-font);
}